{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table action="/">
        <p>You have {{ cash | usd }} cash remaining. The combinded value of your stocks and cash is {{ (cash + value) | usd }} </p>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Share Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add Current Stocks Owned to Table -->
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.value | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}